<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="https://github.com/login/oauth/authorize?scope={{git_user}}:{{git_email}}&client_id={{git_clientId}}">github 인증하기</a>
    <a href="https://api.notion.com/v1/oauth/authorize?owner={{notion_user}}&client_id={{notion_clientId}}&redirect_uri={{notion_redirect}}&response_type=code">notion 인증하기</a>
</body>
</html>